# <center>RegEx in Python</center>

<img src="images/memes/meme27.jpg" height=300 width=300>

# Named Groups

> Using numbers to refer to groups can be tedious and confusing, and the worst thing is that it doesn't allow you to give meaning or context to the group. That's why we have named groups.

Instead of referring to groups by numbers, groups can be referenced by a name. Such a group is called a **named group**.

- The syntax for a named group is one of the Python-specific extensions: `(?P<name>...)`  where `name` is, obviously, the name of the group. 

- Named groups behave exactly like capturing groups, and additionally associate a name with a group.

- Here is a table which shows three different ways to refer to named groups:
    
<table style="border: 1px solid black; font-size:15px;">
<thead>
    <th>Use</th>
    <th>Syntax</th>
</thead>
    
<tbody>
<tr>
    <td>Inside a pattern</td>
    <td>(?P=name)</td>
</tr>
    
<tr>
    <td>In the repl string of the sub operation</td>
    <td>\g&lt;name&gt;</td>
</tr>

<tr>
    <td>In any of the operations of the MatchObject</td>
    <td>match.group('name')</td>
</tr>
</tbody>
</table>

### Example 1

Consider a scenario where we want to extract the first name and last name of a person.

In [1]:
import re

In [2]:
txt = "Nikhil Kumar"

In [3]:
pattern = re.compile("(?P<first>\w+) (?P<last>\w+)")

In [4]:
match = pattern.match(txt)

In [5]:
match.group('first')

'Nikhil'

In [6]:
match.group('last')

'Kumar'

### Example 2

Now consider the scenario where we want to swap first name and last name in above example.

In [7]:
pattern.sub("\g<last> \g<first>", txt)

'Kumar Nikhil'

### Example 3

Consider a scenario where we want to check if a person has same first and last name.

In [8]:
txt = "Jhonson Jhonson"

In [9]:
pattern = re.compile("(?P<first>\w+) (?P=first)")

In [10]:
pattern.findall(txt)

['Jhonson']

![](images/memes/meme28.jpg)